@import 'tailwindcss';



:root {
    --color-prinky: #f25daf;
    --color-prinky-100: #f7c6e8;
    --color-prinky-200: #fcd9f1;
    --color-prinky-300: #ffe6f7;
    --color-prinky-400: #fff0fa;


    --color-creamy: #ffeecd;
    --color-dark: rgba(59, 47, 74, 1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes faderight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadedown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeout {
    from {
        opacity: 0;
        transform: scale(1.05);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}